@page "/category/create"
@page "/category/update/{id:int}"
@inject ICategoryRepository _CategoryRepository
@inject NavigationManager _NavigationManager
@inject IJSRuntime _JSRuntime

@if (IsProcessing)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="images/loading.gif" alt="loading" />
    </div>
}
else
{
    <div class="card shadow border-0 mt-4">
        <div clase="card-header bg-black bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-black py-2">
                        @(Id > 0 ? "Update " : "Create ") Category
                    </h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <EditForm Model="Category" FormName="CategoryUpsert" OnValidSubmit="UpsertCategory">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="border p-3 mt-4">
                    <div class="form-floating py-3 col-12">
                        Category Name
                        <InputText id="Name" class="form-control" @bind-Value="Category.Name" />
                        <ValidationMessage For="@(() => Category.Name)" />
                    </div>
                    <div class="row mt-3">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary form-control" disabled="@IsProcessing">
                                <i class="bi bi-floppy"></i>  @(Id > 0 ? "Update" : "Save")
                            </button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6 col-md-3">
                            <a href="category" class="btn btn-secondary form-control">
                                <i class="bi bi-arrow-bar-left"></i> Back to List
                            </a>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>

    </div>
}
@code {
    private bool IsProcessing { get; set; } = true;

    [SupplyParameterFromForm]
    public Category Category { get; set; } = new();

    [Parameter]
    public int Id { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadCategory();
            IsProcessing = false;
            StateHasChanged();
        }
    }

    private async Task LoadCategory()
    {
        if (Id > 0)
        {
            Category = await _CategoryRepository.GetAsync(Id);
        }
    }

    private async Task UpsertCategory()
    {
        IsProcessing = true;
        if (Id > 0)
        {
            await _CategoryRepository.UpdateAsync(Category);
            await _JSRuntime.ToastrSuccess("Category updated successfully!");
        }
        else
        {
            await _CategoryRepository.CreateAsync(Category);
            await _JSRuntime.ToastrSuccess("Category created successfully!");
        }
        IsProcessing = false;
        _NavigationManager.NavigateTo("/category");
    }
}
